In [1]:
import pandas as pd

In [2]:
notas = pd.Series([2,7,5,10,6])

In [3]:
notas

0     2
1     7
2     5
3    10
4     6
dtype: int64

In [4]:
notas.values

array([ 2,  7,  5, 10,  6])

In [5]:
notas.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
notas = pd.Series([2,7,5,10,6], index=["Wilfred", "Abbie", "Harry", "Julia", "Carrie"])

In [7]:
notas

Wilfred     2
Abbie       7
Harry       5
Julia      10
Carrie      6
dtype: int64

In [8]:
print("Média:", notas.mean())

Média: 6.0

In [9]:
notas.describe()

count     5.000000
mean      6.000000
std       2.915476
min       2.000000
25%       5.000000
50%       6.000000
75%       7.000000
max      10.000000
dtype: float64

In [10]:
print("Desvio padrão:", notas.std())

Desvio padrão: 2.9154759474226504

In [11]:
notas**2

Wilfred      4
Abbie       49
Harry       25
Julia      100
Carrie      36
dtype: int64

In [12]:
import numpy as np
np.log(notas)

Wilfred    0.693147
Abbie      1.945910
Harry      1.609438
Julia      2.302585
Carrie     1.791759
dtype: float64

In [13]:
df = pd.DataFrame({'Aluno' : ["Wilfred", "Abbie", "Harry", "Julia", "Carrie"],
                   'Faltas' : [3,4,2,1,4],
                   'Prova' : [2,7,5,10,6],
                   'Seminário': [8.5,7.5,9.0,7.5,8.0]})
df

     Aluno  Faltas  Prova  Seminário
0  Wilfred       3      2        8.5
1    Abbie       4      7        7.5
2    Harry       2      5        9.0
3    Julia       1     10        7.5
4   Carrie       4      6        8.0

In [14]:
df["Prova"]

0     2
1     7
2     5
3    10
4     6
Name: Prova, dtype: int64

In [15]:
df.loc[3]

Aluno        Julia
Faltas           1
Prova           10
Seminário      7.5
Name: 3, dtype: object

In [16]:
df[df["Seminário"] > 8.0]

     Aluno  Faltas  Prova  Seminário
0  Wilfred       3      2        8.5
2    Harry       2      5        9.0

In [17]:
df[(df["Seminário"] > 8.0) & (df["Prova"] > 3)]

   Aluno  Faltas  Prova  Seminário
2  Harry       2      5        9.0

In [18]:
df["Aluno"].unique()

array(['Wilfred', 'Abbie', 'Harry', 'Julia', 'Carrie'], dtype=object)

In [19]:
df["Prova"].value_counts()

7     1
6     1
5     1
10    1
2     1
Name: Prova, dtype: int64

In [29]:
df["Prova"].value_counts(normalize=True) ## Em percentual

7     0.2
6     0.2
5     0.2
10    0.2
2     0.2
Name: Prova, dtype: float64

In [21]:
df["Aluno"].apply(lambda x: x[:3])

0    Wil
1    Abb
2    Har
3    Jul
4    Car
Name: Aluno, dtype: object

In [22]:
def truncar (Aluno):
    return Aluno[:3]
df["Aluno"].apply(truncar)

0    Wil
1    Abb
2    Har
3    Jul
4    Car
Name: Aluno, dtype: object

In [31]:
df["Aluno"].str[:3] #

0    Wil
1    Abb
2    Har
3    Jul
4    Car
Name: Aluno, dtype: object

In [23]:
nome = "Marcus"

In [24]:
nome[:3]

'Mar'

In [25]:
df["Prova"]

0     2
1     7
2     5
3    10
4     6
Name: Prova, dtype: int64

In [27]:
ser = pd.Series(['Lorem ipsum', 'dolor sit amet', 'consectetur adipiscing elit'])
ser

0                    Lorem ipsum
1                 dolor sit amet
2    consectetur adipiscing elit
dtype: object

In [28]:
ser.str[0]

0    L
1    d
2    c
dtype: object